{% extends 'base.html' %}
{% block content %}
<main>
    <div class="container my-5">
      <h3 class="my-3"><span class="text-danger">Dashboard <a href="{% url 'add-album' %}" class="btn btn-success btn-sm"> Add Album</a></h3>
      <div class="row">
          <div class="col-md-3">
            <div class="card">
              <h5 class="card-header" align="center">Your Created Album</h5>
              <div class="card-body">
                <h6 align="center">{{totalAlbums}}</h6>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <h5 class="card-header" align="center">Total Photos</h5>
              <div class="card-body">
                <h6 align="center">{{totalPhotos}}</h6>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <h5 class="card-header" align="center">Total Videos</h5>
              <div class="card-body">
                <h6 align="center">{{totalVideos}}</h6>
              </div>
            </div>
          </div>
      </div>
    </div>
</main>
{% endblock %}