{% extends 'base.html' %}
{% block content %}
<main>
    <div class="container my-5">
      <h3 class="my-3"><span class="text-alert">Video List from {{album.title}}</span></h3>
      <table class="table table-bordered">
        <thead>
          <tr align="center">
            <th>Sr.No.</th>
            <th>Video</th>
            <th>Video Title</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% if data %}
            {% for x in data %}
            <tr>
              <td align="center">{{forloop.counter}}</td>
              <td><video class="embed-responsive" controls="controls" width="100" height="60" autoplay loop><source src="{{.video.url}}" type="video/mp4"/></video></td>
              
              
              <td align="center">{{x.caption}}</td>
              <td align="center">
                <a href="{% url 'add-video' album.id %}" class="btn btn-success btn-sm" onclick="return confirm('Are you sure you want to Add more video?')">Add More Video</a>
                <a class="btn btn-sm btn-danger" onclick="return confirm('Are you sure you want to delete this video?')" href="#">Delete</a>
              </td>
            </tr>
            {% endfor %}
          {% endif %}
        </tbody>
      </table>
    </div>
</main>
{% endblock %}